# gitignore

# This file is used for Git repositories to specify intentionally untracked files that Git should ignore.
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore


# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# Manifest package
manifest/

# Optional npm cache directory
.npm

# Eslint cache
.eslintcache

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Local environment variables
.env

# DEVOPS CENTER TOOLING SECTION
.eslintignore
.prettierrc
.prettierignore
**/aura/.eslintrc.json
**/lwc/.eslintrc.json

# Custom Scripts
**/scripts/

# ---------------------------------------------------------------
# Visual Studio Code
# ---------------------------------------------------------------
.vscode/*
# !.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
*.code-workspace

# ---------------------------------------------------------------
# PMD
# ---------------------------------------------------------------
.pmd/
# !.pmd/rules
# !.pmd/ruleset.xml

# VS Code Extension
.pmdCache

# ---------------------------------------------------------------
# macOS
# ---------------------------------------------------------------
.DS_Store
tmp
Thumbs.db

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/